/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


#my_timeLine .v-timeline-item__divider {
  display: inline;
}
#my_timeLine .v-timeline-item__divider .v-timeline-item__dot {
  width: 75px;
  height: 75px;
  margin-right: 75px;
  margin-left: 75px;
}
.v-application--is-ltr .v-timeline--dense#my_timeLine:not(.v-timeline--reverse):before {
  left: calc(113px - 1px);
}
#my_timeLine .v-timeline-item__body {
  width: 50%;
}

.lang > div .v-input__slot{
  border-width: 0;
  border: none
}
